
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: antiquewhite;
    gap: 350px;
    height: 9vh;
    align-items: center;
   
    
}
.outer>#inner2>#list{
   display: flex; 
   gap: 10px;
   font-weight: bold;
   
}
.outer>#inner3>#b1{
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 10px;

}
.outer>#inner3>#b2{
    background-color:white;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px;
    

}
.outer>#inner1>h2{
    display: inline;
}
.outer>#inner1>#l1{
    color: brown;
}
.outer>#inner1>#l1>#l2{
    color:orange;
}