*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.outer{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: 50px;
    justify-content: center;
    align-content: center;
    
    /* grid-template-columns: 1fr 1fr 1fr; */
    height: 90vh;
}
.inner{
     padding: 10px;
      border: 2px solid black;

}
#box1{
    grid-column: span 2;
}
#box6{
    grid-row: span 2;
}
