*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.card{
    background-color: brown;
    height: 200px;
}
.container{
 display: flex;
 justify-content: space-around;
}
.box{
    border: 2px solid black;
    height: 80px;
    width: 80px;
}
@media (max-width:700px) {
    .card{
        background-color: aqua;
    }
    .container{
        flex-direction: column;
        width: 100%;
    }
    .box{
        width: 100%;
    }
}